body {
  background-color: #22223b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  height: 100vh;
}

.container {
  width: 800px;
  height: 500px;
  background-color: #fff;
  position: relative;
}

.content {
  padding: 50px;
}

.question {
  font-size: 40px;
}

.answer {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.submit {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  position: absolute;
  bottom: 0%;
}

.submit:hover {
  opacity: 0.8;
}

.game {
  /* display: none; */
  background-color: #fff;
}

.result {
  display: none;
  padding: 50px;
  text-align: center;
}

.result h1 {
  font-size: 50px;
}

.correct {
  color: green;
}

.play {
  color: #fff;
  background-color: rebeccapurple;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
